
<%=  %> 
<%= form_for(@post_attachment) do |f| %>
  <div class="field">
    <%= f.label :avatars %> <br>
    <%= f.file_field :avatars, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
