<!--<p id="notice"><%= notice %></p>-->

<!--<span class="post_id">-->
<!--  <strong>Post:</strong>-->
<!--  <%= @post_attachment.post_id %>-->
<!--</span>-->

<!--</span class="post_avatar">-->
<!--  <strong>Avatar:</strong>-->
<!--  <%= @post_attachment.avatars %>-->
<!--</span>-->
<%= render 'post_attachment', post_attachment: @post_attachment %> <br>
<%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> |
<%= link_to 'Back', post_attachments_path %>
