<%= form_for(@post, :html => {multipart: true}) do |f| %>
  <div class="field">
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>
  
  <%= f.fields_for :post_attachments, PostAttachment.new do |ff| %>
    <div class="field">
      <%= ff.label :title %>
      <%= ff.file_field :avatars, multiple: true, name: "post[post_attachments_attributes][][avatars]" %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
